
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");



/* 

Así se escriben los comentario en CSS.
Siempre se abren con slash asterisco, y
se cierran con asterisco slash.

*/
html {
  scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
}

body{
    font-family:'Roboto Condensed', sans-serif;
    font-weight:400;
    color:#373737;
    background-color:#1e1e1e; /*el primer par es R, segundo es G y tercero es B*/
}

h1, h2{
    font-family:'Roboto Condensed', monospace;
    color:#FFFFFF; /* lo básico, para evitar problemas */
    color:rgba(255,255,255,0.8); /* si el navegador lo entiende, lo usa */
    text-align:center;
    letter-spacing:0.1em;
    font-weight:700;
}

h1{
    font-size:3rem;
}

h2{
    font-size:2rem;
    letter-spacing:0.1em;
}

@media screen and (max-width: 768px){
    h1{ font-size:2.25rem; }
    h2{ font-size:1.5rem; }
}

@media screen and (max-width: 576px){
    h1{ font-size:1.5rem; }
    h2{ font-size:1rem; }
}

h3{
    display:none;
}

h5, h6{
    font-weight:700;     
}

a{
    color:rgb(155,0,0);
    text-decoration:none;
}


header{
    width:100%;
    top:36%;
    position: absolute;
    text-align:center;
    z-index:9;
}

@media screen and (orientation: portrait){
    header{ top:12%; }
}

video{
    width:98%;
    padding:1% 1% .75% 1%;
    height:auto;
}

main{
    width:100%;
}

/* 
Puedes revisar detalles sobre el siguiente uso de flex 
en https://www.taniarascia.com/easiest-flex-grid-ever/ 
*/

#equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#fff /* lo mismo que #FFFFFF, simplificando pares iguales*/;
    color:#2c2c2c;
}

#equipo a{
    color:#2c2c2c;
}

#equipo a:hover{
    color:#2c2c2c;
}

.integrante {
    flex-basis: 100%;
}

.integrante:hover {
    cursor:crosshair;
}

@media screen and (orientation: landscape){
    .integrante { flex:1; }
}

.integrante h4{
    padding: 2rem 2rem 0.25rem 2rem;
}

.integrante address{
    padding: 0.25rem 2rem;
    font-size:0.9em;
    font-style:normal;
}

.integrante blockquote{
    padding: 6rem 2rem 2rem 2rem;
}

@media screen and (orientation: landscape){
    .integrante blockquote{
        padding: 6rem 2rem 2rem 2rem;
        max-width:50%;
    }
}

.integrante blockquote cite {
    display:block;
    font-style: normal;
    font-weight: 700;
    font-size:.8rem;
    letter-spacing : 0.1rem;
    padding-top:0.25rem;
    color:rgba(255,255,255,.75);
}

.integrante blockquote cite:before {
    content:"— ";
}

.integrante:nth-of-type(1){
    background-color:#E2E151;
    background-image:url('media/integrante1_a.png');
    background-position: bottom right;
    background-size:auto 100%;
    background-repeat: no-repeat;
    margin-bottom: 18px;
}


.integrante:nth-of-type(2){
    background:#E2E151;
    background-image:url('media/integrante2_a.png');
    background-position: bottom right;
    background-size:auto 100%;
    background-repeat: no-repeat;
    margin-bottom: 18px;
}


.integrante:nth-of-type(1):hover{
    background-color:#81D2F2;
    background-image:url('media/integrante1_b.gif');
    background-position: bottom right;
    background-size:height auto 100%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(2):hover{
    background:#81D2F2;
    background-image:url('media/integrante2_b.gif');
    background-position: bottom right;
    background-size:auto 100%;
    background-repeat: no-repeat;
}

/*

AHORA VAMOS POR PORTAFOLIO

*/

#portafolio{
    width:100%;
    padding:.25% 0;
    background:#2c2c2c;
}

.item {
    width:23%;
    margin:1%;
    color:#333;
    background:#eee;
    box-shadow:0 0 5px rgba(0,0,0,.5);
}

@media screen and (max-width: 768px){
    .item{
        width:48%;
        margin:1%;
        background:#333;
        color:#eee;
    }
}
 @media screen and (max-width: 576px){
     .item{
         width:96%;
         margin:2%;
         background:#000;
         color:#FFF;
    }
}
 .item:hover{
     cursor:crosshair;
}
 .item figure{
     overflow:hidden;
}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
     filter: grayscale(1);
}
 .item:hover figure img{
     transform:scale(1.1);
     filter: grayscale(0);
     transition:all ease-out 1s;
}

 .item h4{
     font-size:1em;
     letter-spacing:0.025em;
     margin:5% 5% 3% 5%;
}
 .item p{
     font-size:0.875em;
     letter-spacing:0.05em;
     margin:2% 5% 6% 5%;
}
 footer{
     width:100%;
     padding:2.5em 0 2em 0;
     text-align:center;
}
 footer p{
     text-transform:uppercase;
     letter-spacing:0.1em;
     font-size:0.9em;
     color: #FFF
}


.nav{
    z-index: 10000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#353535;
    position: fixed;
    font-family:'Roboto Condensed', sans-serif;
    width: 100%;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    font-size: 18px



}


.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    color: #89B4B2;
}

.nav .logo {
    padding: 17px 40px;
    float: left;
    margin-left: 180px
}

.nav .icon {
    display: none;
    color: #eee;
    height: auto;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
      float: right;
      display: block;
      margin: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .nav.responsive {position: fixed;}
    .nav .logo {
        margin-left: 10px;
    }
    .nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.integrante {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
 }
